.timer-content {
  background-color: gray;
  height: 500px;
}

.main-count {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.numbers {
  background-color: azure;
  height: 200px;
  width: 100%;
}


.count-timer {
  height: 150px;
  font-size: 70px;
  display: flex;
  justify-content: space-between;
}

.timers-button {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}


.timer-button {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgb(197, 197, 197);
  justify-content: center;
}